/*CSS for about.html*/
.person {
    float: left;
    margin: 10px;
}

.sidebyside {
    margin: 10px;
}

.mainheader {
    margin: 10px 0px;
}

#mentors {
    background-color: #EEE;
}

#thanks {
    float: left;
    margin-left: 5%;
}

#team {
    background-color: #FFF;
}

#team .person {
    margin: 0 10px;
}

#team h1 {
    border-bottom: 10px solid #F00;
}

#mentors h2 {
    border-bottom: 3px solid #F00;
}

#mentors-list {
    list-style-type: circle;
}

#aboutus {
    background-color: #FFF;
    height: auto;
    padding-bottom: 50px;
    font-size: 16px;
    padding-left: 10px;
    padding: 10px;
}

#aboutimage {
    width: 400px;
    height: auto;
    float: right;
    display: inline-block;
    margin: 0px 10px;
}


#aboutus h1 {
    border-bottom: 10px solid #F00;
    text-align: center;
}

@media only screen and (max-width: 640px) {
    #aboutimage {
        width: 97%;
        margin-left: 0px;
    }

    #aboutus,
    #team,
    #mentors {
        text-align: center;
    }

    #mentors-list {
        text-align: left;
        column-count: 2;
    }
}

/*
@media only screen and (min-width: 768px) {
    #abouttext {
        float: left;
        width: 50%;
        padding-left: 10px;
    }

    #aboutimage {
        margin-left: 20px;
        width: 40%;
    }
}*/
