/*CSS for about.html*/
#menu-about {
    z-index: 10;
    box-shadow: 0 10px 10px -10px #F00;
}

.person {
    margin: 10px;
    height: 200px;
    text-align: left;
    display: inline-block;
}

.person img {
    width: 75px;
    height: 75, px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.person h4 {
    margin-top: 0;
}

.person p {}

.mainheader {
    margin: 10px 0px;
}

#thanks {
    float: left;
    margin: 10px;
    width: 100%;
}

#team-container {
    background-color: #FFF;
    height: auto;
    margin: 10px;

}

#team {
    overflow: hidden;
    column-width: 400px;
    break-inside: avoid;
}

#team h1 {
    border-bottom: 10px solid #F00;
}

#mentors h2 {
    border-bottom: 3px solid #F00;
}

#mentors {
    background-color: #FFF;
    padding: 10px;
    overflow: hidden;
    border: none;
    margin: 20px 10px;
}

#mentors-list {
    list-style-type: circle;
}

#aboutus {
    background-color: #FFF;
    height: auto;
    padding-bottom: 50px;
    font-size: 16px;
    padding-left: 10px;
    padding: 10px;
    margin: 10px;
}

#aboutimage {
    width: 400px;
    height: auto;
    float: right;
    display: inline-block;
    margin: 10px;
}


#aboutus h1 {
    border-bottom: 10px solid #F00;
    text-align: center;
}


@media only screen and (max-width: 640px) {
    #aboutimage {
        width: 97%;
        margin-left: 0px;
    }

    #aboutus,
    #team,
    #mentors {
        text-align: center;
    }

    #mentors-list {
        text-align: left;
        column-count: 2;
    }

}

/*
@media only screen and (min-width: 768px) {
    #abouttext {
        float: left;
        width: 50%;
        padding-left: 10px;
    }

    #aboutimage {
        margin-left: 20px;
        width: 40%;
    }
}*/
