.blog-article {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}

.blog-header {
    border-bottom: 10px solid #F00;
    float: left;
    width: 100%;
}


.blog-title {
    float: left;
}

.blog-date {
    font-style: italic;
    font-size: 14px;
    float: right;
}

.blog {
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.blog-article-container {
    width: 100%;
}
