.blog-article {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 20px;
}

.blog-article img {
    width: 50%;
    max-width: 480px;
    height: auto;
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.blog-header {
    border-bottom: 10px solid #F00;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.blog-title {
    float: left;
    margin-left: 20px;
}

.blog-date {
    font-style: italic;
    font-size: 14px;
    float: right;
}

.blog {
    float: left;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.blog-article-container {
    width: 100%;
}

@media only screen and (max-width: 640px) {

    .blog-article img {
        width: 100%;
        max-width: none;
        margin-bottom: 10px;
    }

}
