/*Main css*/
 body, html {
     margin: 0;
     padding: 0;
     background-color: rgb(200, 200, 200);
     margin-top: 25px;
}
 :root {
     --main-div-padding: 500px;
     --main-left-side-size: 60%;
     --main-left-side-size-2: 40%;
     --main-logo-width: 50px;
     --navbar-height: 50px;
}
/*Logo css*/
 #logo {
     padding: 0;
}
 .mainheader {
     padding: 0;
     width: 100%;
     height: 50%;
}
/*the content class*/
.sidebyside {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.divcontent {
  padding: auto;
  padding-top: 0px;
  padding-left: 2%;
  height: var(--main-div-padding);
  float: left;
  display: inline;
}
.space-1 {
  grid-column-start: 0;
  grid-column-end: span 1;
}
.space-2 {
  grid-column-start: 0;
  grid-column-end: span 2;
}
.space-3 {
  grid-column-start: 0;
  grid-column-end: span 3;
}
.space-4 {
  grid-column-start: 0;
  grid-column-end: span 4;
}
.space-5 {
  grid-column-start: 0;
  grid-column-end: span 5;
}
 .footer {
     padding: 0;
     width: 100%;
     height: 35%;
     background-color: #FFF;
     float: left;
}
/*Navbar css*/
 
.navbar {
     height: 50px;
     margin: 0;
     padding: 0px 0px;
     transition: 0.2s;
     background-color: #FFF;
}

 .nav-text {
     position: absolute;
     top: 52%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin: 0;
     font-size: 110%;
     font-family: Arial;
}
/*IDs*/
 #blog {
}
 #products {
}
 #about {
}
 #resources {
}
 #slideshow {
     background-color: rgb(150, 150, 150);
}
 #contactinfo {
}
 #mentors {
     background-color: rgb(190, 190, 190);
}
 #thanks {
     float: left;
     margin-left: 5%;
}
 .person {
     float: left;
     margin: 30px;
}

/*@media css*/
 @media only screen and (max-width: 720px) {
     .navbar {
         position: fixed;
         top: 0px;
         width: 100%;
         height: 50px;
    }
     #navbar-dropdown-btn{
         display: inline;
         background-color: red;
         width: 40px;
         height: 40px;
         margin: 5px 10px 0 0;
         padding: 0;
         float: right;
         background-color: #000;
         border: none;
         transition: background-color 0.2s;
         border-radius: 10px;
    }
     #navbar-dropdown-btn:hover {
         border: none;
         background-color: #F00;
    }
     #navbar-btns {
         z-index: 10000;
         width: 100%;
         height: 1000px;
         transition: 0.3s;
         height: 0px;
         opacity: 0;
    }
     #navbar-btns.active{
         opacity: 1;
         display: block;
         background-color: red;
         width: 100%;
         height: 100%;
    }
     #navbar-dropdown-btn:active {
         border: none;
         background-color: #000;
    }
     #navbar-dropdown-btn:enabled {
         border: none;
    }
     
     
     .nav-item {
         margin: 0px 0px;
         background-color: #FFF;
    }
     .nav-button {
         margin: 0;
         width: 100%;
         height: 100%;
         border: none;
         color: black;
         text-align: center;
         position: relative;
         display: block;
         transition: background 0.3s;
    }
     .nav-button:hover {
         cursor: pointer;
         background-color: #F00;
         color: #FFF;
    }
     .nav-button:active {
         background-color: rgb(200, 0, 0);
    }
     
     #logo {
         height: 50px;
         display: inline-block;
    }
     #logo-container {
         text-align: center;
         float: left;
    }
}
 @media only screen and (min-width: 720px) {
     #logo {
         height: 95%;
    }
     .nav-button {
         margin: 0;
         width: 100%;
         height: 100%;
         border: none;
         color: black;
         text-align: center;
         position: relative;
         display: block;
         transition: background 0.3s;
    }
     .nav-button:hover {
         cursor: pointer;
         background-color: #F00;
         color: #FFF;
    }
     .nav-button:active {
         background-color: rgb(200, 0, 0);
    }
     .nav-item {
         float: right;
         margin: 0px;
         width: 100px;
     }
     #navbar-dropdown-btn{
         opacity: 0;
    }
     .navbar-btns {
         display: grid;
         grid-template-columns: repeat(6, 1fr);
         height: 50px;
         background-color: red;
         width: 100%;
     }
     .navbar {
         display: grid;
         grid-template-columns: 90px 0px 1fr;
         height: 50px;
         padding-left: 10px;
         padding-right: 10px;
         position: fixed;
         width: 100%;
         top: 0px;
    }
}
/* .dropbtn {
     background-color: #4CAF50;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
}
 .dropdown {
     position: relative;
     display: inline-block;
}
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: red;
     min-width: 160px;
     z-index: 10;
     height: auto;
}
 .dropdown:hover .dropdown-content {
     display: block;
}
*/
