/*Main css*/
 body, html {
     margin: 0;
     padding: 0;
     background-color: rgb(200, 200, 200);
     margin-top: 25px;
}
 :root {
     --main-div-padding: 500px;
     --main-left-side-size: 60%;
     --main-left-side-size-2: 40%;
     --main-logo-width: 50px;
     --navbar-height: 50px;
}
/*Logo css*/
#logo {
     padding: 0;
}
.mainheader {
  padding: auto;
  padding-top: 0px;
  height: var(--main-div-padding);
  float: left;
  display: inline;
}
/*the content class*/
.sidebyside {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.divcontent {
  padding: auto;
  padding-top: 0px;
  padding-left: 2%;
  height: var(--main-div-padding);
  float: left;
  display: inline;
}
.space-1 {
  grid-column-start: 0;
  grid-column-end: span 1;
}
.space-2 {
  grid-column-start: 0;
  grid-column-end: span 2;
}
.space-3 {
  grid-column-start: 0;
  grid-column-end: span 3;
}
.space-4 {
  grid-column-start: 0;
  grid-column-end: span 4;
}
.space-5 {
  grid-column-start: 0;
  grid-column-end: span 5;
}
 .footer {
     padding: 0;
     width: 100%;
     height: 35%;
     background-color: #FFF;
     float: left;
}
/*Navbar css*/

.navbar {
     height: 50px;
     margin: 0;
     padding: 0px 0px;
     transition: 0.2s;
     background-color: #FFF;
}

 .nav-text {
     top: 52%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin: 0;
     font-size: 110%;
     font-family: Arial;
     position: relative;
}

.slide {
  display: none;
}
.fade {
  transition: 0.5s;
}
.next, .prev {
  text-decoration: none;
  margin-top: 15%;
  padding: 10px;
  border-radius: 3px;
  transition: 0.5s;
  color: #000;
}
.next {
  float: right;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.prev {
  float: left;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.next:hover, .prev:hover {
  background-color: #FFFFFFAA;
}
/*IDs*/
#blog {
  background-color: #EEE;
}
#products {
  background-color: #FFF;
}
#about {
  background-color: #DDD;
}
#resources {
  background-color: #DDD;
}
#slideshow {
     background-color: rgb(150, 150, 150);
}
#contactinfo {
}
#mentors {
     background-color: rgb(190, 190, 190);
}
#thanks {
     float: left;
     margin-left: 5%;
}
.person {
     float: left;
     margin: 30px;
}
#logo {
     height: 50px;
     display: inline-block;
}
 #logo-container {
     text-align: center;
     float: left;
}

/*@media css*/
 @media only screen and (max-width: 720px) {
     .navbar {
         position: fixed;
         top: 0px;
         width: 100%;
         height: 50px;
    }
     #navbar-dropdown-btn{
         /*
         display: inline-block;
         background-color: #F00;
         width: 40px;
         height: 40px;
         margin: 5px 10px 0 0;
         padding: 0;
         float: right;
         background-color: #FFF;
         transition: background 0.2s;*/
         border: solid 1px black;
         margin: 0px 30px 0 0;
    height: 50px;
    width: 50px;
        float: right;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
         background-color: red;

    &:before, &:after {
        transform: rotate(-45deg);
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -5;
        margin-left: -25;
        display: block;
        height: 10px;
        width: 50px;
        background-color: #fff;
        transition: all 0.25s ease-out;
    }

    &:after {
        transform: rotate(-135deg);
    }

    &:hover {
        &:before, &:after {
            transform: rotate(0deg) translate(0px, 0px);
        }
    }
    }
     /*
     #navbar-dropdown-btn:hover {
         background-color: #F00;
    }
     #navbar-dropdown-btn:active {
         background-color: #A00;
    }*/
     
     #navbar-btns {
         width: 100%;
         transition: 0.3s;
         height: 0px;
         opacity: 0;
         float: right;
    }
     #navbar-btns.active{
         opacity: 1;
         display: block;
         background-color: red;
         width: 100%;
         height: 100%;
    }


     .nav-item {
         margin: 0px 0px;
         background-color: #FFF;
    }
     .nav-button {
         margin: 0;
         width: 100%;
         height: 100%;
         border: none;
         color: black;
         text-align: center;
         position: relative;
         display: block;
         transition: background 0.3s;
         text-decoration: none;
    }
     .nav-button:hover {
         cursor: pointer;
         background-color: #F00;
         color: #FFF;
    }
     .nav-button:active {
         background-color: rgb(200, 0, 0);
    }
}
 @media only screen and (min-width: 720px) {
     .menu-item {
         width: 100%;
         height: 100%;
     }
     .nav-item {
         height: 100%;
         width: 100%;
     }
     .nav-button {
         display: block;
         background-color: red;
         margin: 0;
         height: 100%;
         width: 100%;
         border: none;
         color: black;
         text-align: center;
         transition: background 0.3s;
         background-color: #FFF;
         text-decoration: none;
    }
     .nav-button:hover {
         cursor: pointer;
         background-color: #F00;
         color: #FFF;
    }
     .nav-button:active {
         background-color: rgb(200, 0, 0);
    }
     #navbar-dropdown-btn{
         opacity: 0;
    }
     #navbar-btns {
         display: grid;
         grid-template-columns: repeat(6, 1fr);
         height: 50px;
         width: 100%;
         background-color: #FFF;
         
     }
     .navbar {
         display: grid;
         grid-template-columns: 90px 0px 1fr 20px;
         height: 50px;
         padding-left: 10px;
         padding-right: 10px;
         position: fixed;
         width: 100%;
         top: 0px;
    }
}
/* .dropbtn {
     background-color: #4CAF50;
     color: white;
     padding: 16px;
     font-size: 16px;
     border: none;
     cursor: pointer;
}
 .dropdown {
     position: relative;
     display: inline-block;
}
 .dropdown-content {
     display: none;
     position: absolute;
     background-color: red;
     min-width: 160px;
     z-index: 10;
     height: auto;
}
 .dropdown:hover .dropdown-content {
     display: block;
}
*/
