
/*Main css*/
body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(200, 200, 200);
}
:root {
  --main-div-padding: 500px;
  --main-left-side-size: 60%;
  --main-left-side-size-2: 40%;
  --main-logo-size: 5%;
  --navbar-height: 50px;
}

/*Logo css*/

#logo {
  padding: 0;
}

#logo-container {
  transition: all 0.3s;

}

.mainheader {
  padding: 0;
  width: 100%;
  height: 50%;
  float: right;
}

.largecontent {
  padding: auto;
  padding-top: 0px;
  height: var(--main-div-padding);
  width: var(--main-left-side-size);
  float: left;
}

.smallcontent {
  padding: auto;
  width: calc(100% - var(--main-left-side-size));
  padding-top: 0px;
  height: var(--main-div-padding);
  float: left;
}

.halfcontent {
  padding: auto;
  width: 50%;
  padding-top: 0px;
  height: var(--main-div-padding);
  float: left;
}

.footer {
  padding: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(150, 150, 150);
  float: left;
}

.sidebyside h1, h2, h3, h4, h5, h6, p, form {
  margin-left: 3%;
}
/*Navbar css*/
.navbar {
    height: 25px;
    margin: 0;
    padding: 0px 0px;
    transition: 0.2s;
}

.nav-item {
    margin: 0px 0px;
}

.nav-button {
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    color: black;
    text-align: center;
    position: relative;
    display: block;
    transition: background 0.3s;
}

.nav-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 150%;
}

.nav-button:hover {
  cursor: pointer;
  background-color: rgb(180, 180, 180);
}

.nav-button:active {
    background-color: rgb(160, 160, 160);
}
/*IDs*/
#blog {
  background-color: rgb(180, 180, 180);
}
#products {
  background-color: rgb(190, 190, 190);
}
#about {
  background-color: rgb(180, 180, 180);
}
#resources {
  background-color: rgb(170, 170, 170);
}
#slideshow {
  background-color: rgb(150, 150, 150);
}
#contactinfo {
  margin-left: var(--main-logo-size);
  padding-right: 5%;
  background-color: rgb(190, 190, 190);
}
/*@media css*/
@media only screen and (orientation: portrait){
    .nav-item {
        width: 100%;
        display: inline;
        height: 50px;
        z-index: 100;
        position: static;
    }
    .nav-button {

    }
    .navbar {
        width: 100%;
        position: fixed;
        float: right;
    }
    #logo {
      height: 50px;
      display: inline-block;
    }
    #logo-container {
        text-align: center;
        float: left;
    }
}
@media only screen and (orientation: landscape){
    #logo {
      height: auto;
      width: var(--main-logo-size);
      float: left;
      transition: height ease-in-out 0.3s;
    }
    .nav-item {
      margin: 0;
      width: 90%;
      display: inline;
      height: var(--navbar-height);
      float: right;
    }
    .nav-button {
      background-color: rgba(200, 180, 180);
    }
    .navbar {
      width: calc(100% - var(--main-logo-size));
      height: calc(11% - var(--main-logo-size));
      float: left;
      justify-content: space-around;
      align-content: center;
      display: flex;
    }
}

/*
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    z-index: 10;
    height: auto;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/
