.order-form {
    padding: 10px;
    background-color: #EEE;
    overflow: hidden;
    margin-bottom: 0px;
    border-radius: 5px;
}

.order-form label {
    display: block;
    margin-top: 20px;
    letter-spacing: 1px;
    color: #222;
}

.order-form input {
    border: none;
    border-radius: 3px;
    font-size: 14px;
    transition: border 0.2s;
    background-color: #FFF;
    display: block;
    width: 100%;
    padding-left: 5px;
    height: 25px;
    margin-top: 5px;
}

#price {
    color: #D00;
}

.line {
    border-bottom: solid 1px black;
    margin: 10px 0px;
}

.order-container {
    margin-top: 10px;
    padding: 10px;
    background-color: #FFF;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 35px;
    box-sizing: content-box;
    overflow: hidden;

}

.title-text {
    border-bottom: solid #F00 3px;
}

#submit {
    float: left;
    margin-top: 20px;
    background-color: #0A0;
    width: 100px;
    height: 40px;
}

input:focus {
    outline: none;
    border-bottom: solid #F00 2px;
}

.about-order {
    float: left;
    width: 100%;
    margin-right: 10px;
}

@media only screen and (max-width: 640px) {
    .about-order {
        float: none;
        width: auto;
        margin-bottom: 50px;
        margin-right: 0px;
        text-align: center;
    }
}
