
.products-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px 10px;
}

.about-products {
    padding: 10px;
    background-color: #FFF;
    grid-column-start: 0;
    grid-column-end: span 3;
    min-height: 200px;
    text-align: center;
    
}

.about-products h2 {
    border-bottom: 10px solid #F00; /*border for all titles*/
    float: left;
    width: 100%;
}

.about-products p {
    margin: 10px;
}

.product {
    height: auto;
    background-color: #FFF;
    padding: 10px;
    height: 200px;
    position: relative;
    background-size: cover;
    background-position: center center;
    transition: 0.3s;
    grid-column-start: 0;
    grid-column-end: span 3;
}

.product-description {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    height: 50%;
    transition: 0.4s;
    background-color: #FFFD;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.product-description-text {
    min-width: 200px;
    transition: 0.2s;
    transition-delay: 0.2s;
    opacity: 0;
}

.product:hover {
    cursor: hand;
}
.product:hover .product-description {
    opacity: 1;
    height: 50%;
    
}
.product:hover .product-description-text {
    opacity: 1;
    display: block;
}
.product-popup {
    display: none;
}
.product-popup.show {
    display:block;
    position: fixed;
    top:100px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background-color: red;
    z-index: 1;
}
#product-display {
    background-color: #FFF;
    margin: 40px 10px 10px 10px;
    padding: 10px;
    height: auto;
    overflow:hidden;
    padding-bottom: 50px;
}
#cover-photo {
    width: auto;
    height: 200px;
    float: left;
    margin-right: 10px;
    display: block;
}
#product-about {
    float: center;
    
}
#product-title {
    
    border-bottom: 10px solid #F00;
}
.back-btn {
    font-size: 12px;
    text-decoration: none;
    color: #00A;
    
    
}

@media only screen and (max-width: 640px) {
    
    #product-about {
        float: left;
    }
    #cover-photo {
        float: center;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
    .about-products {
        grid-column-end: span 2;

    }
}
@media only screen and (max-width: 480px) {
    .products-container {
        grid-template-columns: 1fr;
    }
    .about-products {
        grid-column-end: span 1;

    }
}