/*CSS for the Slideshow*/

/*css for slides*/
.slide {
    height: inherit;
    display: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    background-color: #FFF;
    transition: 1s;
    margin: 0;
    padding: 10px 0 0 0;
    margin-top: -20px;
}

.click {
    margin: 0 40px;
    height: inherit;
}

.click:hover {
    background-position: center 150px;
    background-size: contain;
    cursor: hand;
}

.click h3 {
    color: transparent;
    transition: 0.5s;
}

.click:hover h3 {
    color: black;
}

#productslide {
    background-color: #AAA;
}


/*css for slideshow buttons*/

.next,
.prev {
    text-decoration: none;
    border-radius: 3px;
    transition: 0.5s;
    color: #000;
    padding: 50px 10px;
    background-color: #EEE;
}

.next {
    float: right;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.prev {
    float: left;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/*css for main slideshow*/

#slideshow {
    padding: 0;
    margin: 0;
    height: 510px;
    background-color: #EEE;
    transition: 1s;
}

/*css for fading animation*/

.fade {
    animation-name: fade;
    animation-duration: 0.5s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 0.5s;
}

@media only screen and (min-width: 640px) {
    #slideshow-footer {
        color: #000;
        position: relative;
        top: 420px;
        left: 4%;
        border: 3px solid #F00;
        border-radius: 10px;
        width: 90%;
        padding: 10px 10px;
        height: 50px;
        background-color: #FFF;
    }

    #slideshowtext {
        font-size: 24px;
        float: left;
        position: relative;
        bottom: 18px;
        width: 300px;
        text-align: left
    }

    #actionbutton {
        color: #000;
        background-color: #F00;
        border-radius: 5px;
        float: right;
        margin: auto;
        height: 100%;
        padding: 15px;
        box-sizing: border-box;
        text-decoration: none;
        transition: 0.3s;
    }

    #actionbutton:hover {
        background-color: #000;
        color: #FFF;
    }

    #slidelogo {
        background-size: 50%;
        background-position: right;
    }

    #productslide {
        background-position: left, right;
        background-size: 50%;
    }

    #mainslide {
        background-position: center 20px;
        background-size: 500px;
        text-align: center;
    }

    .next:hover,
    .prev:hover {
        background-color: #EFEFEF;
        cursor: hand;
    }

    .next:active,
    .prev:active {
        background-color: #BBB;
        transition: 0.1s;
    }

    .next,
    .prev {
        margin-top: 150px;
    }
}

@media only screen and (max-width: 640px) {


    .next,
    .prev {
        margin-top: 50px;
    }

    #slideshow-footer {
        color: #000;
        position: absolute;
        top: 250px;
        left: 3%;
        border: 3px solid #F00;
        border-radius: 10px;
        width: 90%;
        padding: 10px 5px;
        height: 50px;
        background-color: #FFFC;
    }

    #slideshowtext {
        font-size: 15px;
        float: left;
        width: 140px;
        margin: 0;
    }

    #actionbutton {
        color: #000;
        background-color: #F00;
        border-radius: 5px;
        float: right;
        margin: auto;
        height: 100%;
        padding: 16px;
        box-sizing: border-box;
        text-decoration: none;
        transition: 0.3s;
    }

    #actionbutton:hover {
        background-color: #000;
        color: #FFF;
    }

    #slidelogo {
        background-size: 100%;
        background-position: center;
        opacity: 0;
    }

    #productslide {
        background-position: top right, bottom left;
        background-size: 50%;
    }

    #mainslide {
        background-size: 200px;
        background-position: center 50px;
    }

    #slideshow {
        height: 300px;
    }

    .next:active,
    .prev:active {
        background-color: #000;
        transition: 0.1s;
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}
