<!DOCTYPE>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <link href="css/main.css" type="text/css" rel="stylesheet">
    <link href="css/products.css" type="text/css" rel="stylesheet">
    <title>Crown Innovations | Products</title>
    <link rel="shortcut icon" href="/imgs/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/imgs/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width">

</head>

<body>
    <div ng-app="CrownInnovationsApp">
        <div class="navbar" ng-controller="MenuController">
            <a id="logo-container" href="index.html"><img id="logo" src="imgs/logo.png" alt="Logo"></a>
            <a id="navbar-dropdown-btn"></a>

            <div id="navbar-btns">
                <div class="nav-item" ng-repeat="item in items">
                    <menu-item info="item"></menu-item>
                </div>
            </div>

            <script src="js/navbar.js"></script>
        </div>

        <script src="js/app.js"></script>
        <script src="js/controllers/MenuController.js"></script>
        <script src="js/directives/MenuDirective.js"></script>

        <div class="products-container" ng-controller="ProductController">
            <div class="about-products addradius">
                <h1>Calf Pacifier</h1>
                <a href="#product-header">Jump to Products</a>
                <p style="float:left;">
                    Calf Pacifiers are here to help you keep your bottle calves happy and healthy! Now I know what your thinking: <em>What in the world is a calf pacifier?</em> The Calf Pacifier is just that, a pacifier for bottle calves. Many times, farmers will have many bottle calves, and they need to be housed somewhere. While the cheapest option is to pen them all together, this doesn't always work. Calves will suck on basically <em>everything</em>: fences, fingers, pants etc., but especially other calves. This is known as cross sucking, and can cause bald spots and sores, and can spread sicknesses as well.<br>
                    Studies have shown that calves need extra non-nutritive sucking time after feeding to help them feel full. Our Calf Pacifier can help with that by giving the calves that extra sucking time.<br>
                    All of our Calf Pacifiers have a sealed nipple, to prevent indigestion from calves sucking air.<br>
                    They are also great to keep your calves occupied while you are feeding other calves.<br>Have questions? We are happy to answer any questions you have through our <a href="contact.html">Contact</a> page!
                </p>
                <div class="video">
                    <video id="productvideo" src="imgs/pitchVideo.mp4" alt="" poster="imgs/videoPoster.png" controls></video>
                    <img id="imgleft" src="imgs/calfWithStationary.jpg">
                    <img id="imgright" src="imgs/calfWithPacifier.jpg">
                </div>
                <h1 id="product-header">Products</h1>
            </div>
            <div class="product-div" ng-repeat="product in products">
                <product-item product="product"></product-item>
            </div>
        </div>
        <!--Footer DIV-->
        <div class="footer">
            <h2 id="footerheader">Our mission is to provide safe and affordable help to farmers.</h2>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="index.html">Home</a></li>
            </ul>
            <h4>Have questions? <a href="contact.html">Contact Us!</a></h4>
        </div>
        <script src="js/controllers/ProductController.js"></script>
        <script src="js/directives/ProductDirective.js"></script>
        <script src="js/products.js"></script>
    </div>
</body>

</html>
